<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="display-6">
      <strong>Employee List</strong>
      </h4>
    <a
      style="text-align: center"
      routerLink="/add"
      class="nav-link"
      routerLinkActive="active"
    >
      <i style="font-size: x-large" class="bi bi-align-middle"> + </i> Add New
      Employee</a
    >
  </div>

  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of employees">
          <td>{{ emp.firstName }}</td>
          <td>{{ emp.lastName }}</td>
          <td>{{ emp.email }}</td>
          <td>
            <button (click)="deleteEmployee(emp.id)" class="btn btn-danger">
              Delete
            </button>
            <button
              (click)="employeeDetails(emp.id)"
              class="btn btn-info"
              style="margin-left: 10px"
            >
              Details
            </button>
            <button
              (click)="updateEmployee(emp.id)"
              class="btn btn-info"
              style="margin-left: 10px"
            >
              Update
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
